services:
  api:
    image: api
    ports:
      - 8000:8000
      - 5678:5678
      - 8181:8181
    restart: unless-stopped
    volumes:
      - ./api/swotvis:/swotvis
    build:
      context: ./api/
      dockerfile: Dockerfile
    working_dir: /swotvis
    command: python -m debugpy --listen 0.0.0.0:5678 -m uvicorn --host 0.0.0.0 --port 8000 --proxy-headers main:app --reload
    env_file:
      - .env
